$mainColor : #05053d;
$hideColor : #d2d2f050;
$secendColor : #ffcc00;
$thirdColor : #ff6666;
$textColor : rgba(255, 255, 255, 0.575);
$shadow : rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

// Font Size
$largexxx : 3rem;
$largexx : 1rem;
$largex : 0.65rem;

$medxxx : 2.5rem;
$medxx : 0.9rem;
$medx : 0.65rem;

$smallxxx : 1.8rem;
$smallxx : 0.8rem;
$smallx : 0.5rem;